
html {
    font-family: sans-serif;
  }

  body {
    margin: 0;
  }

  header {
    background: red;
    height: 100px;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    padding: 10px;
    margin: 10px;
    background: green;
  }

  footer {
    background: red;
    height: 100px;
  }
  





@media screen and (min-width: 768px) {
   
}